/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
/*
.row{
  background: url("../img/shelf.png") top left no-repeat
}

.span1 img{
  width: 70px;
height: 105px;
}

.img_mask{
  width: 70px;
  height: 105px;
  position: absolute;
}
*/

body{
  background: url("../img/shelf.png") center 100px repeat-y;
}

.span3{
  margin-bottom: 52px;
  margin-top: 30px;
  cursor: pointer;
  background: none;
  text-align: center;
}

.book{
  position: relative;
}

/*.cover{

  max-height: 240px;
  border-radius: 10px;
  border: 1px solid #444;
  overflow: hidden;
  max-width: 168px;
  margin: auto;
  margin-bottom: 16px;
}*/

.cover{
max-height: 229px;
overflow: hidden;
max-width: 162px;
margin: auto;
position: absolute;
margin-bottom: 16px;
top: 11px;
left: 50%;
margin-left: -87px;

}

.title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-binding: url( 'bindings.xml#ellipsis' );
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  /* mit "bindings.xml#none" deaktivierbar*/
  margin-top: 12px;
  border-radius: 15px;
  box-shadow: inset 0 0 10px #aaa;
  padding: 0 5px;
}


.cover img{
  xmax-width: 168px;
  min-height: 240px;
}

.span2:hover{
  -webkit-box-shadow: 0px 0px 15px #ccc;  /* webkit browser*/
  -moz-box-shadow: 0px 0px 15px #ccc; /* firefox */
  box-shadow: 0px 0px 15px #ccc;
}

.overlay{
  xdisplay: none;
  background: rgba(255,255,255,0.5);
  margin: 10px 5px;
  border-radius: 10px;
  padding: 10px;
  z-index: 100

}

/*body img{
  border: 1px solid #444;
  border-radius: 10px;

}*/


.row{
  margin-bottom: 10px
}


#popup{
  background: url("../img/book_open.png") center center no-repeat;
  width: 976px;
  height: 626px;
  margin: auto;
}

#popup .left{
  width: 50%;
  float: left;
  height: 626px;
}

#popup .right{
  width: 50%;
  float: right;
  height: 626px;
}

#popup .content{
  padding: 30px
}







/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
